<html>
    <body>
        <table border='1'>
            <thead>
                <!--it wil get the creste the headings in 5000 port database-->
                <td><h3>Name</h3></td>
                <td><h3>Address</h3></td>
                <td><h3>City</h3></td>
                <td><h3>Pin</h3></td>
            </thead>
            {% for row in rows %}
                <tr>
                    <!--will display the values under the geadings in from row -->
                    <td><h3>{{row.nm}}</h3></td>
                    <td><h3>{{row.addr}}</h3></td>
                    <td><h3>{{row.city}}</h3></td>
                    <td><h3>{{row.pin}}</h3></td>    
                </tr>
            {% endfor %}
        </table>
        <h3> <a href="/"> Go back to home page</a></h3>
    </body>
</html>