<html>
    <body>
        <form action="http://localhost:5000/result" method="post">
            <h1>Enter the credentials</h1>
            <p>Name</p>
            <p><input type="text" name="name"/></p>
            <p>English</p>
            <p><input type="text" name="English"/></p>
            <p>Physics</p>
            <p><input type="text" name="Physics"/></p>
            <p>Chemistry</p>
            <p><input type="text" name="chemistry"/></p>
            <p><input type="Submit" value="Submit"/></p>
        </form>
    </body>
</html>