<html>
    <body>
        <form action="/addrec", method="POST">
            <table>
                <!--will create the input taking boxes and take tha values and names will match with requestt.form attributes-->
                <tr><td>Name</td><td><input type="text" name="nm"></td></tr>
                <tr><td>Addres</td><td><input type="text" name="addr"></td></tr>
                <tr><td>City</td><td><input type="text" name="city"></td></tr>
                <tr><td>Pincode</td><td><input type="text" name="pin"></td></tr>
                
            </table>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>